/*
*Description: the stylesheet 订单部分
*@Author: bradenhan
*@email: bradenhan@126.com
*@update: 2014-09-16 23:37:47
*/

.order-wrapper{height:auto}
.order-wrapper table{margin:15px 0 10px;border-bottom:2px solid #b3dbf4}
.order-wrapper th{height:30px;padding:2px 0 0;border:0 none;border-top:2px solid #b3dbf4;background:#fff;line-height:30px}
.order-wrapper th .th-inner{height:30px;background:#5cb2e8;color:#fff;line-height:30px}
.order-wrapper td{height:auto;line-height:20px}
.order-wrapper .cell-1{width:auto;border-left:2px solid #b3dbf4;text-align:left}
.order-wrapper .cell-2{width:200px}
.order-wrapper .cell-3{width:170px}
.order-wrapper .cell-4{width:150px}
.order-wrapper .cell-5{width:130px}
.order-wrapper .last-cell{width:150px;border-right:2px solid #b3dbf4!important;}
.order-wrapper th.last-cell{padding-right:2px}
.order-wrapper th.cell-1{padding-left:2px;-webkit-border-radius:8px 0 0 0;border-radius:8px 0 0 0}
.order-wrapper th.cell-1 .th-inner{padding-left:20px;border:0 none;-webkit-border-radius:6px 0 0 0;border-radius:6px 0 0 0}
.order-wrapper td.cell-1{padding-left:20px}

/*new-order-wrapper*/
.new-order-wrapper .cell-4{width: 100px;}
.new-order-wrapper .cell-5{width: 100px;}
.new-order-wrapper .cell-7{width: 80px;}
